name: Wingo 24/7 Sync
on:
  schedule:
    - cron: '*/1 * * * *' # Har 1 minute baad chalega
  workflow_dispatch: # Manual button

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: pip install requests
      - name: Run sync script
        run: python sync_bot.py
